<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Локальная библиотека</title>
  </head>
  <body>
    <div class="container">
      <div class="pt-3">
        <nav aria-label="Навигация по страницам">
          <ul class="pagination">
            {% if page_num == 1 %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="index{{page_num - 1}}.html">Предыдущая</a>
              </li>
            {% endif %}

            {% for num in range(1,page_last_num + 1) %}
              {% if num == page_num %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{num}}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="index{{num}}.html">
                  {{num}}
                </a></li>
              {% endif %}
            {% endfor %}

            {% if page_num == page_last_num %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следующая</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="index{{page_num + 1}}.html">Следующая</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>


      {% for books_cols in books_rows %}
        <div class="row">
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{books_cols[0].cover_path}}" class="card-img" alt="{{books_cols[0].book}} {{books_cols[0].author}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{books_cols[0].name}}</h5>
                    <p class="card-text">{{books_cols[0].author}}</p>
                    <p class="card-text"><a href="../{{books_cols[0].book_path }}" target="_blank" >Читать</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if books_cols|length == 2 %}
            <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{books_cols[1].cover_path}}" class="card-img" alt="{{books_cols[1].book}} {{books_cols[1].author}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{books_cols[1].name}}</h5>
                      <p class="card-text">{{books_cols[1].author}}</p>
                      <p class="card-text"><a href="../{{books_cols[1].book_path }}" target="_blank" >Читать</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>